@import url(./page-structure.css);

.dish-grid {
    margin: var(--font-size-v6) auto;
    width: 80svw;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(10, 1fr);
    border: 1px solid black;
}
.dish-title-grid {
    grid-column: 1 / 8;
    grid-row: 1 / 2;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-v6);
    font-weight: bold;
}
.dish-image-grid {
    grid-column: 1 / 3;
    grid-row: 2 / 11;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.dish-details-grid {
    grid-column: 3 / 8;
    grid-row: 2 / 11;
    font-size: var(--font-size-v3);
    display: grid;
    grid-template-rows: 1fr 1fr 2fr 1fr 1fr 1fr 1fr 1fr;
}
.dish-info-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.dish-info-cell {
    border: 1px solid black;
}
.info-title-cell {
    grid-column: 1;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}
.info-content-cell {
    grid-column: 2 / 6;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.info-content-cell-child {
    display: inline-block;
    background-color: var(--color-gold);
    color: var(--color-red-cooler);
    margin: 3px 4px;
    padding: 0 var(--font-size-v3);
    border-radius: var(--font-size-v2);
}
.dish-image-grid img {
    width: 100%;
    aspect-ratio: 16 / 9;
    vertical-align: middle;
}
.dish-image-grid span {
    color: black;
    font-size: var(--font-size-v1);
    font-weight: bold;
}
.dish-cooking-step-details {
    width: 80svw;
    margin: var(--font-size-v3) auto;
}
.dish-cooking-step-title {
    font-size: var(--font-size-v4);
}
.dish-cooking-step-content {
    list-style-type: decimal;
    font-size: var(--font-size-v3);
    margin: 0 var(--font-size-v4);
}
